.bg-img{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.hero .hero-text table{
    background-color: aliceblue;
    opacity: 97%;
    border-radius: 12px;;
    width: 500px;
}
.form1 input{
    height:30px;
    width:200px;
    padding-right: 100px;
    border-radius: 12px;
}
.table1{
    padding-left: 40px;
}
.Addbutton{
    padding-left: 50px;
}
.voteText{
    font-size: 100px;
}
