/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}*/
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #343F4F;
} 